*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body
{
    background: url(image/background.jpg);
    
    background-size: cover;
}
.world
{
    margin: 30px 20px;
    padding: 15px;
    text-align: justify;
    font-weight: bold;
    border: 20px;
    font-size: 40px;
}
/*.man
{
    margin: 0px 20px;
    padding: 15px;
    text-align: justify;
    font-weight: bold;
    border: 10px;
    font-size: 30px;
}*/
world h2
{
    margin: 3px 5px;
    font-size: 15px;
}

.Tom
{
    width: 420px;
    height: 410px;
    border-radius: 210px;
    float: right;
    margin-right: 45vh;
    margin-top: 0;
}
